body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f8;
  color: #c43939;
  text-align: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
}
.left-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  width: 40px;
  height: 40px;
}
h1 {
  font-weight: bold;
  color: #c43939;
  margin: 0;
}
.badge {
  background: #c43939;
  color: white;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}
.language-selector {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.language-icon {
  width: 30px;
  height: 30px;
  fill: #c43939;
  cursor: pointer;
}
.language-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  list-style: none;
  margin-top: 5px;
  min-width: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.language-dropdown li:hover {
  background-color: #f7f7f8;
}
.language-dropdown li {
  padding: 5px;
}
main {
  margin-top: 60px;
}
h2 {
  font-weight: bold;
  color: #c43939;
}
#playButton {
  margin-top: 20px;
  background: #c43939;
  border: none;
  padding: 12px 30px;
  color: white;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(196,57,57,0.5);
}
#playButton:active {
  box-shadow: none;
  transform: translateY(2px);
}
